{% extends 'home/base.html' %}
{% block content %}
    
<div class="flex flex-col items-center mt-8 w-full">
    {% for category in categories %}
   
        <section class="w-full">
        
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 sm:gap-10 md:gap-10 mt-8 w-full overflow-x-hidden">
                <h1 class="sm:col-span-2 md:col-span-3 lg:col-span-4 text-bold text-2xl px-10 bg-gray-100 h-10 sm:h-10 flex items-center">{{ category.name }}</h1>
                {% for product in category.product_set.all %}
                <div class="flex flex-row p-5 sm:flex-col sm:w-48 items-center">
                    <img src="{{ product.photo.url }}" alt="product image" class="min-w-[120px] min-h-[120px] max-w-[120px] max-h-[120px] rounded-xl">
                    <div class="mt-2 text-center flex flex-col sm:flex-row justify-between w-full">
                        <span class="flex-auto">{{ product.name }} </span>
                        <span class="flex-auto"> {{ product.price }}$ </span>
                    </div>
                    {% if user.is_authenticated and user.is_superuser %}
                    <div class="text-center flex flex-row justify-stretch items-center w-40 h-8 mt-4">
                        <a class="flex-auto flex bg-blue-500 w-15 h-full justify-center items-center rounded-sm shadow-md hover:bg-blue-400" href="{% url 'home:edit' pk=product.pk%}">Edit</a>
                        <a class="flex-auto flex bg-red-600 w-15 h-full justify-center items-center rounded-sm shadow-md hover:bg-red-400 m-2" href="{% url 'home:delete' pk=product.pk%}">Delete</a> 
                    </div>
                    {% elif not user.is_superuser %}
                        <a href="{% url 'home:add_cart' product_id=product.pk %}" class="flex-auto flex bg-green-500 w-15 h-full justify-center items-center rounded-sm shadow-md hover:bg-green-400 m-2">Add to Cart</a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        
        </section>
   
    {% endfor %} 
</div>
    {% endblock %}